.hero__container {
    background-image: url("../images/app-design/desktop/bg-pattern-intro-app.svg");
    background-color: #E7816B;
    border-radius: 15px;
    width: 1111px;
}
.hero__content {
}
.hero__content__title {
    color: #FFF;
    margin-left: 350px;
    margin-bottom: 24px;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 100% */
    width: 730px;
}
.hero__content__deck {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.footer__container{
    margin-top: 500px;
}
/* expres */
.expres__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container {
}
.expres__block {
    width: 350px;
    height: 478px;
    flex-shrink: 0;
}
.expres__block-img {
    width: 350px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    background: #40125A;
}
.expres__block__content {
    width: 350px;
    flex-shrink: 0;
    background: #FDF3F0;
    padding: 32px 32px;
}
.expres__block__content-title {
    color: #E7816B;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
    letter-spacing: 5px;
    width: 286px;
}
.expres__block__content-deck {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 286px;
}
/* desin=gners */
.designersection__container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.webdesigner {
    text-decoration: none;
}
.webdesigner__img {
    border-radius: 15px;
    background: #000;
    width: 541px;
    height: 308px;
    flex-shrink: 0;
}
.webdesign__content {
    margin-top: -180px;
}
.webdesign__title {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;x
    line-height: 48px; /* 120% */
    letter-spacing: 2px;
    margin-bottom: 24px;
}
.webdesign__deck{
    color: #FFF;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-left: 172px;
    line-height: normal;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.graphicdesigner {
    text-decoration: none;
    margin-left: -600px;

}
.graphicdesign__title{
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 120% */
    letter-spacing: 2px;
    margin-bottom:24px;
}
.graphicdesign__deck{
    color: #FFF;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    margin-left: 185px;
    text-transform: uppercase;
    text-decoration: none;
}
.graphicdesigner__img{
    border-radius: 15px;
    background: #000;
    width: 541px;
    height: 308px;
    flex-shrink: 0;
}
.graphicdesign__content{
    margin-top: -200px;
    margin-right: -50px;
}
@media (max-width:375px){
    .hero__container{
        flex-direction: column;
        width: 675px;
        height: 320px;
    }
    .hero__content{
        width: 327px;
        height: 110px;
        justify-content: center;
        flex-shrink: 0;
        margin-left: -100px;
    }
    .hero__content__title{
        text-align: center;
        width: 327px;
        margin-left: -30px;
        margin-right: -20px;
    }
    .hero__content-desc{
        width: 327px;
        margin-right: -30px;
        justify-content: center;
    }
    .designersection__container{
        flex-direction: column;
    }
    .graphicdesigner{
        margin-left: 5px;
    }
}